.container {
    display: grid;
    grid-auto-rows: 150px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    width: 950px;
}

img {
    width: 100%;
    height: 100%;
}

div {
    overflow: hidden;
}

.item-1 {
    grid-row: span 2;
}

.item-2 {
    grid-row: span 2;
    grid-column: span 2;
}

.item-4 {
    grid-column: span 2;
}

.item-6 {
    grid-column: span 3;
}

.item-7 {
    grid-column: span 3;
    grid-row: span 6;
}