p {
    color: blue;
}

#first-container {
    background-color: yellow;
}

.container {
    width: 200px;
    height: 200px;
    background-color: red;
}

body div.container {
    background-color: green;
}

.container {
    background-color: black;
}

